# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Gradle
.gradle/
build/

# Signing files (VERY IMPORTANT - KEEP SECRET)
*.jks
*.keystore
*.p12
google-services.json

# Local config
local.properties

# OS specific
Thumbs.db
.DS_Store
